<div class="container">
  <div class="container-fluid">
    <h1>Angular Form Concepts:</h1>

    <!-- If server has error then show its status code -->
    <div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>

    <!-- for submit button disabled or not we use below property -->
    <!-- {{userForm.form.valid}}   -->
    <!-- {{userForm.form.value | json}} -->

    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" *ngIf="!submitted" novalidate action="post" style="border: solid 1px blue; padding: 12px">
  
      <!-- {{userForm.value | json}}
      <br><br>
      {{userModel | json}}
      <br><br> -->

      <!-- In below code is-invalid and d-none are bootstrap css classes. d-none = display none -->
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" id="name" name="name" [(ngModel)]="userModel.name" required>
        <small [class.d-none]="name.valid || name.untouched" class="text-danger">Name is Required!!!</small>
      </div>

      <!-- if in above input tag #name then  -->
      <!-- {{name.className}}  -->

      <!-- if in above input tag #name="ngModel" then (below are properties) -->
      <!-- {{name.untouched}}
      {{name.touched}}
      {{name.pristine}}
      {{name.dirty}}
      {{name.valid}}
      {{name.invalid}} -->

  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control" id="email" name="email" [(ngModel)]="userModel.email" required>
        <small [class.d-none]="email.valid || email.untouched" class="text-danger">Email is Required!!!</small>
      </div>
  
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" #phone="ngModel" pattern="^\d{10}$" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" id="phone" name="phone" [(ngModel)]="userModel.phone" required>
        <!-- <small [class.d-none]="phone.valid || phone.untouched" class="text-danger">Phone is Required and must be 10 Digits!!!</small> -->
        <div *ngIf="phone.errors && (phone.invalid && phone.touched)">
            <div class="text-danger" *ngIf="phone.errors['required']">Phone number is Required!!!</div>
            <div class="text-danger" *ngIf="phone.errors['pattern']">Phone number must be 10 Digits!!!</div>
        </div>
      </div>

      <!-- ngModelGroup Directive -->
      <!-- <div ngModelGroup="address">
        <div class="form-group">
          <label for="street">Street:</label>
          <input type="text" class="form-control" id="street" name="street" ngModel>
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" class="form-control" id="city" name="city" ngModel>
        </div>
        <div class="form-group">
          <label for="state">State:</label>
          <input type="text" class="form-control" id="state" name="state" ngModel>
        </div>
      </div> -->
      
      <div class="form-group">
        <label for="subject">Subject:</label>
        <select (blur)="validateSubject(subject.value)" (change)="validateSubject(subject.value)" #subject="ngModel" 
              [class.is-invalid]="topicHasError && subject.touched" class="custom-select" name="subject" id="subject" [(ngModel)]="userModel.subject" required>
          <option value="default">-Select Subject-</option>
          <option *ngFor="let topic of topics">{{topic}}</option>
        </select>
        <small class="text-danger" [class.d-none]="!topicHasError || subject.untouched">Subject must be required!!!</small>
      </div>

      <div class="mb-3">
        <label for="timePreference">Time Preference:</label>
        <div class="form-check">
          <input #timePreference="ngModel" class="form-check-input" type="radio" name='timePreference' id="timePreference" value="morning" [(ngModel)]="userModel.timePreference" required>
          <label class="form-check-label">
            Morning
          </label>
        </div>
        <div class="form-check">
          <input #timePreference="ngModel" class="form-check-input" type="radio" name='timePreference' id="timePreference" value="evening" [(ngModel)]="userModel.timePreference" required>
          <label class="form-check-label">
            Evening
          </label>
        </div>
        <small class="text-danger" [class.d-none]="timePreference.valid || timePreference.untouched">Subject must be required!!!</small>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" name='terms' [(ngModel)]="userModel.terms" required>
        <label class="form-check-label">
          Accept terms and conditions
        </label>
      </div>

      <hr>

      <!-- if any of the above property has any error then button is disabled -->
      <div style="text-align: center;">
        <button [disabled]="userForm.form.invalid" class="btn btn-primary mt-4" type="submit" style="width: 200px;">Submit</button>
      </div>
  
    </form>
  </div>
</div>
